body{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white; /*linear-gradient(#5e6cae, rgb(255, 255, 255)); */
    margin: 0%;
}

img{
    width: 180px;
}

header{
    /* background-color: #dfe2cc; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 20px 0px;
    z-index: 99;
}


/* header h1{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.popup-login{
    margin: 10%;
    position:fixed;
    margin-top: 200px;
    background-color: #736eaa;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
    max-width: 300px;
    min-width: 200px;
}
/* 
.popup-login::after{
    position: absolute;
    content: '';
    background-color:#dfe2cc;
    height: 5px;
    width: 80%;
    top: 0;
    left: 9%;
    border-radius: 10%;
} */

.popup-login-content h2{
    margin: none;
    font-size: 30px;
}


.popup-login-content{
    /* text-align: center; */
    padding: 10px;
    position: relative;
}

.popup-login label{
    font-size: 20px;
    margin-bottom: 5px;
    /* margin: 0px 0px 0px; */
}

#userName,
#userPassword{
    border-radius: 10px;
    border: 0;
    text-align: center;
    width:80%;
    padding: 5px;
}

.popup-login form input:focus {
    /* outline: none; */
    border-color: #f21e1e;
}

.popup-login form button{
    border-radius: 10px;
    border: 0;
    width: 50px;
}

.popup-login form button:hover {
    transition: color 0.9s ease;
    background-color: #8f8ac0;
    color: white;

}

/* 
popup-login-form#popup-login input{
    border-radius: 10%;
} */

a{
    /* display: flex; */
    font-size: 15px;
    padding: 0px 80px 0px 0px;
}